@font-face {
<<<<<<< HEAD
    font-family: "Champagne & Limousines";
    src: url('../../../fonts/Champagne & Limousines Bold.ttf');
    font-weight:400;
}
@font-face {
    font-family: "Andika Basic", sans-serif;
	src: url('../../../fonts/AndBasR.eot'); /* IE9 Compat Modes */
	src: url('../../../fonts/AndBasR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../../../fonts/AndBasR.woff') format('woff'), /* Modern Browsers */
	     url('../../../fonts/AndBasR.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../../../fonts/AndBasR.svg') format('svg'); /* Legacy iOS */
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Andika Basic", sans-serif;
		src: url('../../../fonts/AndBasR.svg') format('svg');
	}
}

body {font-family: "Andika Basic"; font-size:2em; background-color: #2d2d2d;}
/*@font-face {
    font-family: "Capsuula";
    src: url('../../../fonts/Capsuula.ttf');
    font-weight:400;
}
body {font-family: "Capsuula"; font-size:2em; font-weight: bolder; background-color: #2d2d2d;}*/
.center-align{margin:0 auto; text-align:center;}

.nav > li > a.hide-help{display: block;}

/* Lists */
ul, ol{list-style:none;}
p{font-size:0.8em;}

/* Navbar */
nav.navbar{background-color: #e74c3c; -webkit-transition: top 0.5s ease-in 0.01s; -moz-transition: top 0.5s ease-in 0.01s; -o-transition: top 0.5s ease-in 0.01s; transition: top 0.5s ease-in 0.01s;}
.navbar .navbar-top{background-color:#c0392b; font-size: 11px; font-weight: bold; height: 30px; line-height: 11px; text-transform: uppercase;}
.navbar .navbar-top .container{height:30px;}
.navbar-default .navbar-nav > li > a {color: #ffffff; font-size: 14px; font-weight: 600; text-transform: uppercase;}
.navbar-default .navbar-top .navbar-nav > li > a{font-size:1em;letter-spacing: 2px; line-height:20px; padding-bottom:0px; padding-top:5px;}
.navbar-default .navbar-top .navbar-nav > li > a.mail{text-transform: lowercase;}
.navbar-default .navbar-nav > li:hover {background-color:#c0392b;}
.navbar-default .navbar-nav > li > a:hover {color:#fff;}
.navbar-default {border-color:#c0392b;}
.navbar-default .navbar-toggle{border-color:#fff; color:#fff;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{ background-color: #c0392b;}
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}

a:hover{text-decoration:none; color:#F39C11;}
a{text-decoration:none; color:#F39C12;}
/* Headers */
h1, h2, h3, h4{text-align:center;}

h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1em;
}

label{font-size: 0.7em; float: left; font-weight:normal; width:30%; text-align:right; margin-right: 5%;}

/* Colors */
.grey{background-color:#f7f8fa;}

/* Dividers */
.divider-line {margin: auto; z-index: 1; width: 165px; height: 1px; background-color:#60c0d9; margin-top:10px; margin-bottom:10px;
}

/* Sections */
div.section{padding: 1%;}
div.subscribe{background:url(../../../images/geometry.png) repeat; margin-top:80px; min-height:300px;padding-bottom: 45px;}
div.subscribe .container{padding-top: 2%;}

/* Modal */
.modal-header{color: #fff;}
.modal-dialog{width:60%;}
.modal .table{font-size:0.7em;}

/* Buttons */
.btn{color:#fff; width:180px; margin-bottom:10px;}
a.btn:hover{opacity:0.8; color:#fff; width:180px;}
.btn-blue{background-color:#2980b9;}
.btn-green{background-color:#14937a;}
.btn-red{background-color:#c0392b;}
.btn-yellow{background-color:#F39C12;}
.action-links{margin-top:10px;}
.btn{border-radius:0px;}

.account-buttons .btn{width:60%; margin-top:50px; min-height:150px;}
.account-buttons .modal .btn{width:180px; margin-top:50px; min-height:40px;}
.float-right{float:right;}
.float-left{float:left;}

button:hover{color:#fff; opacity:0.9;}

/* Home Section */
div#home{background:url(../../../images/old_map.png) repeat;}
.home-content{padding-top: 100px;}
.cover-slide{height:450px; width:100%;}

/* Grades Section */
div#grades{background-color:#fff;}
div#grades h3{color:#f35626; font-size:2em;font-family: "Champagne & Limousines";}
div#grades .carousel-control{ top:inherit; margin-top:10%;}

/* Why Section */
div#why h3{color:#14937a; font-size:2em;font-family: "Champagne & Limousines";}
div#why {padding: 20px;}

/* Membership Section */
div#membership{background:url(../../../images/board.jpg)}
div#membership h1{background:#fff;color:#f35626; font-size:2em;font-family: "Champagne & Limousines";padding: 20px;}
div#membership .row{margin: 0px;}
div#why {padding: 20px;}

/* Contact Section */
div#contact h1{color:#f35626; font-size:2em;font-family: "Champagne & Limousines";}

/* Owl Carousel */
.navigation-links a{cursor:pointer; text-decoration:none;}

/* Pricing Table */
div#membership h4 a {color:#ff9715; text-decoration:none;}
div#membership h4 a:hover{color:#2c3e50;}

.tiny {
    float: left;
    margin:20px 0;
	margin-left: 9%;
	background:#fff;

    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #14937a;
	border-bottom:10px solid #14937a;
	width:40%;
}

.small {
    float: left;
	margin:20px 0;
	margin-left: 6%;
	background:#fff;

    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #cd8109;
	border-bottom:10px solid #cd8109;
	width:40%;
}

.medium {
    float: left;
    margin:20px 0;background:#fff;

    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #a12f23;
	border-bottom:10px solid #a12f23;

    
}

.pro {
    float: left;
	margin:20px 0;background:#fff;

    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #1d6391;
	border-bottom:10px solid #1d6391;

    
}

.pricing-table strong { font-weight: 700; color: #3d3d3d; }

.pricing-table-header-tiny {
    padding: 5px 0 5px 0;
    background: #16a085;
	border-bottom:10px solid #14937a;
}

.pricing-table-header-small {
    padding: 5px 0 5px 0;
    background: #f39c12;
	border-bottom:10px solid #cd8109;

}

.pricing-table-header-medium {
    padding: 5px 0 5px 0;
    background: #c0392b;
	border-bottom:10px solid #a12f23;

}

.pricing-table-header-pro {
    padding: 5px 0 5px 0;
    background: #2980b9;
	border-bottom:10px solid #1d6391;
}

.pricing-table-header-tiny h2, .pricing-table-header-small h2, .pricing-table-header-medium h2, .pricing-table-header-pro h2 {  font-weight: 700; color:#FFF; }
.pricing-table-header-tiny h3, .pricing-table-header-small h3, .pricing-table-header-medium h3, .pricing-table-header-pro h3 { font-weight: 500; color:#FFF;  }


.pricing-table-text {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #888;
}

.pricing-table-features {
    margin: 15px 10px 0 10px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px dashed #888;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #888;
    min-height: 140px;
}

.pricing-table-signup-tiny {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-tiny a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #16a085;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.pricing-table-signup-tiny a:hover {
    text-decoration: none;
    background: #14937a;
	color: #fff;

  
}

.pricing-table-signup-tiny a:active {
    background: #14937a;
	color: #fff;
}


.pricing-table-signup-small {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-small a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #f39c12;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
   
}

.pricing-table-signup-small a:hover {
    text-decoration: none;
	background-color:#cd8109;
	color: #fff;
}

.pricing-table-signup-small a:active {
    background-color:#cd8109;
	color: #fff;

}

.pricing-table-signup-medium {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-medium a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #c0392b;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
   
}

.pricing-table-signup-medium a:hover {
    text-decoration: none;
	background-color:#a12f23;
	color:#FFF;
}

.pricing-table-signup-medium a:active {
    background-color:#a12f23;
	color: #fff;

}

.pricing-table-signup-pro {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-pro a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #2980b9;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.pricing-table-signup-pro a:hover {
    text-decoration: none;
	background-color:#1d6391;
	color: #fff;
	}

.pricing-table-signup-pro a:active {
    background-color:#1d6391;
	color: #fff;

}

.top {margin-top:20px;}

.space {margin:10px;}

/* Forms */
.cbp-mc-form {
	position: relative;
	margin-left:20%;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-mc-column {
	width: 33%;
	padding: 10px 30px;
	float: left;
}

.cbp-mc-form label {
	display: block;
	padding: 40px 5px 5px 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	width:100%;
	text-align:left;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
	line-height: 1.5;
	padding: 5px 10px;
	color: #16a085;
	display: block;
	width: 100%;
	background: transparent;border: 3px solid #f39c12;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
	border: 3px solid #f39c12;
}

.cbp-mc-form textarea {
	min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
	border: 3px solid #f39c12;
}

.cbp-mc-form select:focus {
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 40px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #10689a;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.cbp-mc-form input.cbp-mc-submit:hover {
	background: #1478b1;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}
.form-control {
    background-color: #ffffff;
    background-image: none !important;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    filter: none !important;
    font-size: 0.8em;
    font-weight: normal;
    padding: 2px !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: top;
    width: 65%;
	border-radius: 0px;
}

.login-form
{
	background-color: #ffffff;
    border-color: #4d7496 #d9d9d9 #d9d9d9;
    border-style: solid;
    border-width: 5px 1px 1px;
    margin: 0 auto;
    width: 80%;
	padding: 0 30px 35px;
    padding-top: 50px;
	margin-bottom:100px;
}
.login{width:350px;}
.login .form-control{width:100%;}
.error-page .form-control, .login-form .form-control {
    border-left: 2px solid #4d7496;
    padding-left: 30px !important;
}

.error-page .form-group, .login-form .form-group {
    margin: 0 0 15px;
    padding: 0;
    position: relative;
}
.admin-form .widget .widget-head {
    border: 0 none;
    color: #555555;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
}

.login-form form .form-actions .checkbox {
    font-size: 13px;
    font-weight: 400;
    padding-left: 0;
    padding-top: 8px;
}

.login-form form .checkbox {
    font-size: 13px;
    font-weight: 400;
    padding-left: 0;
    padding-top: 8px;
}

.register .form-control{width:100%;}

.home-content .login-form{width:100%;}

/* Footer */
.footer{padding: 1%; padding-left:2%; color:#A3A3A3;}
.footer a {color:#A3A3A3;}
.footer a:hover {text-decoration:none; opacity:0.75;}
.footer a:focus {outline:none;}
.footer a:active, a:hover {outline: none;}
.footer h3{border-bottom: 1px solid #575757; color: #A3A3A3; font-family: 'museo_sans300'; font-size: 18px; font-weight: normal; line-height: normal; margin: 14px 0 10px 1px; padding: 0 0 9px; text-transform: uppercase;}
.footer div a i{margin-right:5%;}
.footer .contacts {min-height:182px;}
.contacts{color: #b9b9b9;}
.contacts ul{padding-left:0px;}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	.cover-slide {height: 450px;}
/* Styles */
=======
    font-family: "Century Gothic", sans-serif;
	src: url('../../../fonts/1105886371.eot'); /* IE9 Compat Modes */
	src: url('../../../fonts/1105886371.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../../../fonts/1105886371.woff') format('woff'), /* Modern Browsers */
	     url('../../../fonts/1105886371.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../../../fonts/1105886371.svg') format('svg'); /* Legacy iOS */
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Century Gothic", sans-serif;
		src: url('../../../fonts/1105886371.svg') format('svg');
	}
}

body {font-family: 'Century Gothic', sans-serif; font-size:1.5em;}

/* Misc */
.pull-right{float:right;}
.pull-left{float:left;}
.center-align{margin:0 auto; text-align:center;}
.divider-line {margin: auto; z-index: 1; width: 165px; height: 1px; background-color:#5CA0D1; margin-top:10px; margin-bottom:10px;}
a{color:#e7302a;}
a:hover, a:visited, a:active{text-decoration:none;color:#5CA0D1;}
.div-head{padding:45px 0 20px 0;}

/* Backgrounds */
.grey-background{background-color:#F9F8F8;}
.grey-background .divider-line {background-color:#e7302a;}
.blue-background{background-color:#5CA0D1;}
.blue-background .divider-line{background-color:#fff;}
.blue-background h3{color:#fff;}

/* Form Elements */
.form-control{border:none; border-radius:0px;border: 2px solid #fff; background-color:transparent; color:#fff;}
.form-control::-webkit-input-placeholder {color: #fff;}
 /* Firefox 18- */
.form-control:-moz-placeholder {color: #fff;}
/* Firefox 19+ */
.form-control::-moz-placeholder {color: #fff;}
.form-control:-ms-input-placeholder {color: #fff;  }
.form-control:focus{border-color:#D4D4D4; box-shadow:none;}
.search-flights textarea{min-height:110px;}
.form-group span.info{color:#fff; font-style:italic; font-size:0.8em;}

.div-head .form-control{border:none; border-radius:0px; border: 2px solid #D4D4D4; background-color:transparent; color:#A5A5A5;}
.div-head .form-control::-webkit-input-placeholder {color: #A5A5A5;}
 /* Firefox 18- */
.div-head .form-control:-moz-placeholder {color: #A5A5A5;}
/* Firefox 19+ */
.div-head .form-control::-moz-placeholder {color: #A5A5A5;}
.div-head .form-control:-ms-input-placeholder {color: #A5A5A5;  }
.div-head .form-control:focus{border-color:#5CA0D1; box-shadow:none;}
.div-head .search-flights textarea{min-height:110px;}
.div-head .form-group span.info{color:#E7302A; font-style:italic; font-size:0.8em;}

/* HEADERS */
h1, h2, h3, h4, h5, h6{color:#5CA0D1; text-transform:capitalize; font-weight:bold;}
h1{font-size:2em;}
h2{font-size:1.5em;}
.clear-both{clear:both;}

/* Title */
.title{height: 28px;}
.title h1{color:#e7302a;}

/* Buttons */
.btn{border:none; border-radius:0px;}
.btn:hover, .btn:active, .btn:visited{background: rgba(231,48,42,.75); color:#fff;}
.btn-red{background-color:#e7302a; color:#fff;}
.btn-grey{background-color:#F9F8F8; color:#000;}

/* Navigation */
.navigation{position: relative; top:45px;}
.navbar {border-radius: 0px;}
.navbar-default {background-color: #5ca0d1; border-color: #5ca0d1;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {background-color: #e7302a;color: #fff;}
.navbar-default .navbar-nav > li > a { color: #fff; font-weight:bold;}
.navbar-default .navbar-nav > li > a:hover { background-color: #e7302a;color: #fff;}
.navbar-nav > li {padding-right:10px;}
.navbar-nav > li::before {content: ''; border-left: thin solid #fff; position: absolute; height: 50%; left: 0; top: 25%;}
.navbar-nav > li:first-child {border-left:none;}
.navbar-default .navbar-toggle{background-color:#e7302a; color:#fff; border:none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:#fff; color:#e7302a; border:none;}
.navbar-default .navbar-toggle .icon-bar{background-color: #fff;}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{background-color: #e7302a;}

/* Header */
.header{background:url("../../../images/giraffe plane.png")  no-repeat 0 30px fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height:500px; color:#fff;}
.search-flights{background: rgba(92,160,209,.75); margin-top: 45px; padding:2%; }
.grey-background .search-flights{background: rgba(92,160,209,1); margin-top: 45px; padding:2%; margin-bottom:2%;}
.search-flights .btn-red{width:30%; height:50px;}
.search-flights a{color:#fff;}
.search-flights a.btn-grey{color:#000;}
.search-flights h1{color:#fff;}
.search-flights .divider-line {background-color:#e7302a;}
.flight-types{background: rgba(231,48,42,.75); margin-top: 20px; margin-bottom: 2%; padding:1%;height: 55px;}
.flight-types > ul {list-style:none;}
.flight-types > ul > li {padding-right:10px; float:left; width:30%; text-align:center;}
.flight-types > ul > li > a { color: #fff; font-weight:bold; width:100%; height:100%;}
.flight-types > ul > li > a:hover {border-bottom:#fff solid thick; padding-bottom:10px;}
.flight-types > ul > li:before {content: ''; border-left: thin solid #fff; height: 60%; left: 0; top: 25%; margin-right: 30%;}
.flight-types > ul > li:first-child:before {border-left:none;}

/* Carousel */
.section{padding: 20px;}
.thumbnail .caption .btn{float:right;}
.navigation-links a{cursor:pointer;}

/* Why Us */
#list2 { width:100%; }
#list2 ol { color:#fff;}
#list2 ol li { }
#list2 ol li p { padding:8px; color:#fff; border-left: 1px solid #fff; }
#list2 ol li p em { display:block;  font-weight:bold; }

/* Airline Logos */
.airline-logo{float:left;margin:0 auto; text-align:center; margin-right:10px;}
.airline-logo img{max-height:50px;}

/* Airline Join */
.airline-join{background:url("../../../images/airline.jpg")  no-repeat 0 -60px fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height:300px; color:#fff; margin:0 auto; text-align:center;}
.airline-join h3{color:#fff;}
.airline-join .divider-line{background-color:#fff;}
.airline-join .btn-airline-join{background-color: rgba(231,48,42,0); border:#fff solid medium; width:30%; font-size:2em; font-weight:bold; margin-top: 20px; color:#fff;}

/* Steps */
.stepwizard-step p {margin-top: 10px; color:#fff;}
.stepwizard-row { display: table-row;}
.stepwizard {display: table;width: 100%;position: relative; margin-bottom:20px;}
.stepwizard-step button[disabled] {opacity: 1 !important;filter: alpha(opacity=100) !important;}
.stepwizard-row:before {top: 14px;bottom: 0;position: absolute;content: " ";width: 100%;height: 1px;background-color: #ccc;z-order: 0;}
.btn-circle-active{background-color:#e7302a; color:#fff;}
.stepwizard-step {display: table-cell;text-align: center;position: relative;}
.btn-circle {width: 30px;height: 30px;text-align: center;padding: 6px 0;font-size: 12px;line-height: 1.428571429;border-radius: 15px;}

/* file input */
.fileinput-preview{max-width:300px;}

/* fieldset */
fieldset {border: 1px solid #fff; border-radius: 4px; box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 0 rgba(255, 255, 255, 0.7) inset; margin: 0 0 1em !important; padding: 0 2em 1.4em;}
fieldset img{max-width:300px;}
legend{border-bottom: medium none; margin-bottom: 0; padding: 0 0.1em; text-align: left !important; width: auto; color: #fff; font-size: 1.5em; font-weight:bold; text-transform:capitalize;}
fieldset .review-text{color:#fff;}

/* Footer */
.footer { background: none repeat scroll 0 0 #edeff1;border-bottom: 1px solid #cccccc;border-top: 1px solid #dddddd; height: auto;padding-bottom: 30px;position: relative;width: 100%;}
.footer ul{list-style:none;}

/* Footer Bottom */
.footer-bottom {background: none repeat scroll 0 0 #e3e3e3; border-top: 1px solid #dddddd; padding-bottom: 10px; padding-top: 10px;}


/* Media Queries */
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
>>>>>>> 440b632956276893c42653c41e62545e66db29dd
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
<<<<<<< HEAD
	.cover-slide {height: 760px;}
	p {font-size: 1.2em;}
/* Styles */
}

@media (max-width: 991px){
	/* Styles */
	body {font-size:1.5em;}
}

@media (max-width: 767px){
/* Styles */
	.navbar .navbar-top ul{margin-top: 0px; margin-bottom: 0px;}
	.navbar .navbar-top ul li{float: left;}
	.navbar-right{float: right;}
	.navbar-bottom .navbar-right{float:left;background-color: #c0392b; width:104%; margin-right:0;}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{background-color: #e74c3c;}
}

@media (max-width: 730px){
/* Styles */
	.tiny{width:100%; margin-left: 0;}
	.small{width:100%; margin-left: 0;}
}

@media (max-width: 688px){
/* Styles */
	.nav > li > a.hide-help{display: none;}
}

@media (max-width: 558px){
/* Styles */
	.navbar-left{padding-right:0px;}
	.navbar-left ul > li > a{padding-right:0px;}
	.login-form{width:95%;}
}

@media (max-width: 528px){
/* Styles */
	.navbar .navbar-top .navbar-left{display: none;}
	.col-lg-6, .col-sm-6, .col-xs-6, .col-md-6{width:100%;}
}

@media (max-width: 523px){
/* Styles */
	.navbar .navbar-top .navbar-left{padding-right: 0px;}
	.navbar .navbar-top .navbar-left ul{margin-right: 0px;}
	.cover-slide{height: 250px;}
	.modal-dialog{width:80%;}
}

@media (max-width: 360px){
/* Styles */
	.navbar-brand{padding: 10px 0 0 0;}
	.login{width:95%;}
}

@media (max-width: 340px){
/* Styles */
	.navbar-brand{max-width:60%;}
=======
	
}

@media (max-width: 991px){
	.flight-types > ul > li:before {margin-right: 8%;}
}

@media (max-width: 767px){
	.search-flights .btn-red{width:100%;}
	
}

@media (max-width: 730px){
	
}

@media (max-width: 688px){
	
}

@media (max-width: 558px){
}

@media (max-width: 528px){
	
}

@media (max-width: 523px){
	
}

@media (max-width: 407px){
	h1{font-size:1.5em;}
	body {font-size:1.2em;}
}

@media (max-width: 360px){
	
}

@media (max-width: 340px){
	
}

@media (max-width: 321px){
	h1{font-size:1.3em;}
	body {font-size:1.2em;}
>>>>>>> 440b632956276893c42653c41e62545e66db29dd
}